<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/components :: header"></head>
<nav th:insert="fragments/components :: navbar"></nav>

<form action= "#"
	th:action= "@{/showLabel}"
	th:object="${tag}" 
	method="post">
	
   <div class="form-floating">
	  <input type="text" th:name = "tagName" class="form-control" th:field="*{tagName}"  id="tagName" placeholder="Name">
	  <span th:if="${#fields.hasErrors('tagName')}" th:errors="*{tagName}"></span>
	  <label for="uebungName" class="form-label">Name</label>
</div>
  <br/>
   <button style="background-color:#694949;"  class="btn btn-secondary btn-sm" type="submit">Add</button> 
   </form>

  </html>